.features.display-vertical-around
    .display-vertical-around
        p.font-color.font-size-48.font-weight-600.font-line-64.display-vertical-center.inter.no-pads Our special features
        p.font-color.font-size-16.font-weight-400.font-line-30.inter.heading-block.text-align We are familiar with offline speed dating flow so we designed out online platform considering all the requirements
    .display-horison-around.top-50
        .display-vertical.feature-block
            .img-block.icons-block.ticket-picture
            p.font-color.font-size-24.font-weight-600.inter Affordable Pricing
            p.font-color.font-size-16.font-line-26.inter.font-fog.no-pads.features-text A dictionary of over 200 Latin words,with a handful of model sentence. structures, to generate Lorem Ipsum
            a.font-color.font-size-20.font-weight-500.inter.cursor.top-20 Learn more
        .display-vertical.left-70.right-70.feature-block
            .img-block.icons-block.great-wave-picture.icons-block-special
            p.font-color.font-size-24.font-weight-600.inter Seamless Reliability
            p.font-color.font-size-16.font-line-26.inter.font-fog.no-pads.features-text A dictionary of over 200 Latin words,with a handful of model sentence. structures, to generate Lorem Ipsum
            a.font-color.font-size-20.font-weight-500.inter.cursor.top-20 Learn more
        .display-vertical.feature-block
            .img-block.icons-block.great-picture
            p.font-color.font-size-24.font-weight-600.inter Secure Collaboration
            p.font-color.font-size-16.font-line-26.inter.font-fog.no-pads.features-text A dictionary of over 200 Latin words,with a handful of model sentence. structures, to generate Lorem Ipsum
            a.font-color.font-size-20.font-weight-500.inter.cursor.top-20 Learn more