.greats.display-horison-around.width-1530.centred
    .display-horison-between.without-companies-block
        p.font-color.font-weight-600.font-size-36.font-line-50.inter.no-pads.heading-block Collaborate 2M+ startup and international companiesueses since 2018 
        .display-horison-between
            .display-vertical
                p.font-color.font-weight-700.font-size-60.inter.no-pads 15k
                .display-horison-between.greats-pack-block
                    .img-block.heart-picture.hestars-block
                    .img-block.heart-picture.hestars-block
                    .img-block.heart-picture.hestars-block
                    .img-block.heart-picture.hestars-block
                    .img-block.heart-picture.hestars-block
                p.font-color.font-weight-400.font-size-16.inter Active Downloads
            .display-vertical.left-70
                p.font-color.font-weight-700.font-size-60.inter.no-pads 4.9
                .display-horison-between.greats-pack-block
                    .img-block.star-picture.hestars-block
                    .img-block.star-picture.hestars-block
                    .img-block.star-picture.hestars-block
                    .img-block.star-picture.hestars-block
                    .img-block.star-picture.hestars-block
                p.font-color.font-weight-400.font-size-16.inter 2,938 Rating
    .display-horison-between
        .img-block.companies.company-size