.topbar.display-horison-around.width-1530
    .img-block.logo.left-70.logo-size
    include ./mobile-menu
    .menu-topbar-block.display-horison-between.right-70
        p.font-size-16.font-color.inter.font-weight-500.cursor.betweens-50.cursor Home 
        p.font-size-16.font-color.inter.font-weight-500.cursor.betweens-50.cursor Feature 
        p.font-size-16.font-color.inter.font-weight-500.cursor.betweens-50.cursor Pricing 
        p.font-size-16.font-color.inter.font-weight-500.cursor.betweens-50.cursor Solution 
        p.font-size-16.font-color.inter.font-weight-500.cursor.betweens-50.cursor Faq
    .topbar-funcs-block.display-horison-between.left-70
        a.font-size-18.font-color.inter.font-weight-500.cursor Sign in 
        p.button.cursor.font-size-17.font-clear-color.background-navy.inter.font-weight-500.display-vertical-around.betweens-50 Download